WEB_HOST=0.0.0.0
WEB_PORT=8080
DASHBOARD_TOKEN=

ROS_SETUP=/opt/ros/jazzy/setup.bash
WORKSPACE_SETUP=/home/teto6/ros2_ws/install/setup.bash

AUTO_CMD=ros2 run ugv01_room_explore auto_explore --ros-args -p cmd_topic:=/cmd_vel_auto -p scan_angle_offset_deg:=90.0 -p forward_wall:=0.065 -p forward_explore:=0.085 -p turn_speed:=0.32 -p corner_turn_speed:=0.20 -p back_speed:=0.060
